a{
    color: lightblue;
    text-decoration:none;
}
h2{
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
p{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
ul{
    font-family: Arial, Helvetica, sans-serif;
}
li{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
body{
    background-color: black;
    background-image: url("/imgs/fondo_negro.jpg");
    
}
header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
}
header img{
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}
#mainBlock{
    display: inline-flex;
    width: 1290px;
    height: 200px;
    margin-bottom: 10px;
}
#titulo_indice{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    text-align: center;
}
#indices{
    display: inline-block;
    background-color: rgba(32, 92, 153, 0.2);
    color: whitesmoke;
    border:solid white;
    width: 350px;
}
.contNoticias{
    display: flex;
    background-color: rgba(131, 27, 117, 0.4);
    border: solid white;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 1000px;
    margin-left: 20px;
    overflow: hidden;
}
#ult_not{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    position: absolute;
    padding-left: 397px;
 }
#tituloNot1{
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    bottom: 20px;
    font-weight: bold;
}
#not1 img{
    display: block;
    position: relative;
    width: 189px;
    height: 125px;
    margin-left: auto;
    margin-right: auto;
    bottom: 43px;
    border: 1px solid white;
}
#not1{
    background-color: rgba(54, 134, 29, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.6);;
    width: 340px;
    height: 163px;
    margin: 6px;
    margin-top: 20px;
    overflow: hidden;
}
#tituloNot2{
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    bottom: 20px;
    font-weight: bold;
}
#not2 img{
    display: block;
    position: relative;
    width: 230px;
    height: 95px;
    margin-left: auto;
    margin-right: auto;
    bottom: 43px;
    border: 1px solid white;
}
#not2{
    background-color: rgba(54, 134, 29, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.6);;
    width: 450px;
    height: 133px;
    margin: 6px;
    margin-top: 50px;
    overflow: hidden;
}
#tituloNot3{
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    bottom: 20px;
    font-weight: bold;
}
#not3 img{
    display: block;
    position: relative;
    width: 189px;
    height: 125px;
    margin-left: auto;
    margin-right: auto;
    bottom: 43px;
    border: 1px solid white;
}
#not3{
    background-color: rgba(54, 134, 29, 0.2);
    border: 1px solid rgba(250, 247, 247, 0.6);;
    width: 340px;
    height: 163px;
    margin: 6px;
    margin-top: 20px;
    overflow: hidden;
}
#astronomia{
    position: absolute;
    left: 920px;
    top: 478px;
}
.div1{
    width: 910px;
    height: 190px;
    box-sizing: border-box;
    background-color: rgba(197, 224, 42, 0.2);
    border: 1px solid skyblue;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
}
.div2{
    width: 910px;
    height: 530px;
    box-sizing: border-box;
    background-color: rgba(224, 42, 57, 0.2);
    border: 1px solid skyblue;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
}
.div3{
    width: 910px;
    height: 598px;
    box-sizing: border-box;
    background-color: rgba(34, 241, 196, 0.2);
    border: 1px solid skyblue;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
}
.div4{
    width: 910px;
    height: 300px;
    box-sizing: border-box;
    color: white;
    background-color: rgba(255, 0, 221, 0.2);
    border: 1px solid skyblue;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
}
.div5{
    width: 910px;
    height: 770px;
    box-sizing: border-box;
    background-color: rgba(114, 233, 3, 0.2);
    border: 1px solid skyblue;
    padding-left: 20px;
    padding-right: 20px;
}
#volver_arriba{
    bottom: -12px;
    right: 5px;
    width: 100px;
    position: fixed;
}