header{
    text-align: center;
}
body{
    background-color: black;
    background-image: url("imgs/fondo_negro.jpg");
    color: white;
}
#agujero_negro{
    float: right;
    width:600px;
    position: sticky;
}
#img-colision{
    padding-left: 50px;
    width: 600px;
    height: 350px;
}